.row {
  max-width: 90rem;
  // background-color: $color-grey-light;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 6rem;
  }

  @include clearfix;

  .col-1-of-2 {
    // background-color: orange;
    float: left;

    &:not(:last-child) {
      margin-right: 3.5rem;
    }
  }


  .col-1-of-3 {
    // background-color: orange;
    float: left;

    &:not(:last-child) {
      margin-right: 6rem;
    }
  }

  .col-1-of-4 {
    // background-color: orange;
    float: left;

    &:not(:last-child) {
      margin-right: 3.5rem;
    }
  }

  .col-1-of-2 {
    width: calc((100% - 8rem) / 2);
  }



  .col-1-of-4 {
    width: calc((100% - 3 * 4rem) / 4);
  }


  .col-1-of-3 {
    width: calc((100% - (2 * 8rem)) / 3);
  }

  // .col-2-of-3 {
  //   width: calc(2 * ((100% - (2 * 8rem)) / 3) + 8rem);
  // }


  // .col-3-of-4 {
  //   width: calc(3 * ((100%- 3 * 8rem) / 4) + rem);
}